@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
    font-family: lato;
    color: #777;
}

h1 {
    font-family: oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: cadetblue;
}

#logo {
    float: left;
    font-size: 250%;
}


#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;

}

#logo,
#menu {
    line-height: 75px;

}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;

}

#menu a:hover {
    border: 1px solid;
}

#background-image {
    height: 100%;
    width: 100%;
    background: url(file: ///workspaces/starkey-martial-arts/assets/images/WhatsApp%20Image%202023-09-17%20at%2020.18.29.jpeg);
}