@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
    background-color: lightslategrey;
    background: url('https://imgur.com/GJaNFYj');
    height: 600px;
    font-family: lato;
    color: #777;
}

h1 {
    font-family: oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: cadetblue;
}

#logo {
    float: left;
    font-size: 250%;
}


#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;

}

#logo,
#menu {
    line-height: 75px;

}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;

}

#menu a:hover {
    border: 1px solid;
}

#background-image {
    height: 600px;
    width: 100%;
    background: url('https://imgur.com/GJaNFYj')
}

#cover-text,
#cover-text h2 {
    color: aqua;
}

#cover-text {
    font-size: 150%;
    font-family: oswald;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 400px;
    height: 250px;
    padding: 35px;
    background-color: lightslategray;
    bottom: 50px;
    right: 100px;
    left: 100px;
}

#classes {
    height: 600px;



}

#no-gi {
    padding: 10px;
    width: 30%;
    float: left;
    background-color: pink;
    text-align: center;

}


#women {
    padding: 10px;
    width: 30%;
    float: right;
    background-color: #38ef53;
    text-align: center;
}


#mma {
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    background-color: lightblue;
    text-align: center;

}

.no-gi-left {
    width: 50%;
    text-align: center;
    padding: 20px;
    line-height: 20px;
    margin-bottom: 100px;
}

.women-right {
    width: 50%;
    text-align: center;
    padding: 20px;
    line-height: 20px;
    margin-bottom: 100px;
}

.mma-center {
    width: 50%;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px
}

#results {
    width: 100%;
    text-align: center;
    padding: 20px;

}

section hr {
    line-height: 50px;
}