@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
    font-family: lato;
    color: #777;
}

h1 {
    font-family: oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: cadetblue;
}

#logo {
    float: left;
    font-size: 300%;
}


#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;

}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    
}